In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("Data/cleaned_df.csv", low_memory = False)

In [5]:
df.head(2)

,Unnamed: 0,Ticket Number,Violation Date,Issuing Agency,Violation Location (Borough),Violation Location (Block No.),Violation Location (Lot No.),Violation Location (House #),Violation Location (Street Name),Violation Location (Floor),...,Charge #9: Code,Charge #9: Code Section,Charge #9: Code Description,Charge #9: Infraction Amount,Charge #10: Code,Charge #10: Code Section,Charge #10: Code Description,Charge #10: Infraction Amount,complete violation location,complete respondent location
0,22,0200788327,02/08/2019,POLICE DEPARTMENT,BRONX,2535.0,21.0,1375,OGDEN AVENUE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRONX 2535.0 21.0 1375 OGDEN AVENUE BRONX 104...,BRONX 1014 GERARD AVENUE BRONX 10452 NEW YORK
1,23,0200786576,02/09/2020,POLICE DEPARTMENT,BRONX,3191.0,25.0,2630,JEROME AVENUE,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRONX 3191.0 25.0 2630 JEROME AVENUE BRONX 10...,BRONX 1129 WHEELER AVENUE BRONX 10472 NEW YORK

In [9]:
df.drop("Unnamed: 0", axis=1)

,Ticket Number,Violation Date,Issuing Agency,Violation Location (Borough),Violation Location (Block No.),Violation Location (Lot No.),Violation Location (House #),Violation Location (Street Name),Violation Location (Floor),Violation Location (City),...,Charge #9: Code,Charge #9: Code Section,Charge #9: Code Description,Charge #9: Infraction Amount,Charge #10: Code,Charge #10: Code Section,Charge #10: Code Description,Charge #10: Infraction Amount,complete violation location,complete respondent location
0,0200788327,02/08/2019,POLICE DEPARTMENT,BRONX,2535.0,21.0,1375,OGDEN AVENUE,NaN,BRONX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRONX 2535.0 21.0 1375 OGDEN AVENUE BRONX 104...,BRONX 1014 GERARD AVENUE BRONX 10452 NEW YORK
1,0200786576,02/09/2020,POLICE DEPARTMENT,BRONX,3191.0,25.0,2630,JEROME AVENUE,NaN,BRONX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRONX 3191.0 25.0 2630 JEROME AVENUE BRONX 10...,BRONX 1129 WHEELER AVENUE BRONX 10472 NEW YORK
2,0201486039,02/07/2020,POLICE DEPARTMENT,BROOKLYN,1971.0,27.0,1102,BEDFORD AVENUE,NaN,BROOKLYN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BROOKLYN 1971.0 27.0 1102 BEDFORD AVENUE BROO...,BROOKLYN 1170 NOSTRAND AVENUE BROOKLYN 11225 N...
3,0201641440,02/08/2020,POLICE DEPARTMENT,BRONX,3293.0,52.0,274,EAST 194 STREET,NaN,BRONX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRONX 3293.0 52.0 274 EAST 194 STREET BRONX 1...,BRONX 2557 MARION AVENUE BRONX 10458 NEW YORK
4,0201648096,02/02/2020,POLICE DEPARTMENT,BRONX,3738.0,43.0,1177,WHEELER AVENUE,NaN,BRONX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BRONX 3738.0 43.0 1177 WHEELER AVENUE BRONX 1...,BRONX 1217 BOYNTON AVENUE BRONX 10472 NEW YORK
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284320,0127956804,03/23/2002,SANITATION POLICE,STATEN IS,1155.0,1.0,225,WALKER STREET,NaN,STATEN IS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,STATEN IS 1155.0 1.0 225 WALKER STREET STATEN...,STATEN IS 225 WALKER STREET STATEN IS 10303 NE...
284321,0139928077,05/25/2004,SEAGATE POLICE,BROOKLYN,6999.0,32.0,4018,SEA GATE AVENUE,NaN,BROOKLYN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BROOKLYN 6999.0 32.0 4018 SEA GATE AVENUE BRO...,BROOKLYN 4018 SEA GATE AVENUE BROOKLYN 11224 N...
284322,0139928407,09/15/2004,SEAGATE POLICE,BROOKLYN,7028.0,25.0,4022,SURF AVENUE,NaN,BROOKLYN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BROOKLYN 7028.0 25.0 4022 SURF AVENUE BROOKLY...,BROOKLYN 4022 SURF AVENUE BROOKLYN 11224 NEW YORK
284323,0139929635,02/03/2004,SEAGATE POLICE,BROOKLYN,7028.0,23.0,4024,SURF AVENUE,NaN,BROOKLYN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,BROOKLYN 7028.0 23.0 4024 SURF AVENUE BROOKLY...,BROOKLYN 4024 SURF AVENUE BROOKLYN 11224 NEW YORK
284324,0182675305,05/24/2014,POLICE DEPARTMENT,MANHATTAN,NaN,NaN,3804,BROADWAY,NaN,NEW YORK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,MANHATTAN 3804 BROADWAY NEW YORK 10032 NEW ...,MANHATTAN 601 WEST 187 STREET NEW YORK 10033 N...

In [10]:
df['Violation Location (Zip Code)'].value_counts()

10036    12883
10001     9004
11207     8105
10466     7250
11368     6362
         ...
11714        1
12771        1
10954        1
63882        1
10152        1
Name: Violation Location (Zip Code), Length: 238, dtype: int64

In [12]:
df["Respondent Address (Zip Code)"].value_counts()

11207    8549
10466    7363
11368    7322
10457    6801
10456    6516
         ...
10146       1
7506        1
11604       1
11939       1
14212       1
Name: Respondent Address (Zip Code), Length: 1250, dtype: int64

In [14]:
zip_code = pd.read_csv("Data/Demographic_Statistics_By_Zip_Code.csv", low_memory = False)

In [15]:
zip_code

,JURISDICTION NAME,COUNT PARTICIPANTS,COUNT FEMALE,PERCENT FEMALE,COUNT MALE,PERCENT MALE,COUNT GENDER UNKNOWN,PERCENT GENDER UNKNOWN,COUNT GENDER TOTAL,PERCENT GENDER TOTAL,...,COUNT CITIZEN STATUS TOTAL,PERCENT CITIZEN STATUS TOTAL,COUNT RECEIVES PUBLIC ASSISTANCE,PERCENT RECEIVES PUBLIC ASSISTANCE,COUNT NRECEIVES PUBLIC ASSISTANCE,PERCENT NRECEIVES PUBLIC ASSISTANCE,COUNT PUBLIC ASSISTANCE UNKNOWN,PERCENT PUBLIC ASSISTANCE UNKNOWN,COUNT PUBLIC ASSISTANCE TOTAL,PERCENT PUBLIC ASSISTANCE TOTAL
0,10001,44,22,0.50,22,0.50,0,0,44,100,...,44,100,20,0.45,24,0.55,0,0,44,100
1,10002,35,19,0.54,16,0.46,0,0,35,100,...,35,100,2,0.06,33,0.94,0,0,35,100
2,10003,1,1,1.00,0,0.00,0,0,1,100,...,1,100,0,0.00,1,1.00,0,0,1,100
3,10004,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
4,10005,2,2,1.00,0,0.00,0,0,2,100,...,2,100,0,0.00,2,1.00,0,0,2,100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
231,12788,83,39,0.47,44,0.53,0,0,83,100,...,83,100,35,0.42,48,0.58,0,0,83,100
232,12789,272,115,0.42,157,0.58,0,0,272,100,...,272,100,70,0.26,202,0.74,0,0,272,100
233,13731,17,2,0.12,15,0.88,0,0,17,100,...,17,100,7,0.41,10,0.59,0,0,17,100
234,16091,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0
235,20459,0,0,0.00,0,0.00,0,0,0,0,...,0,0,0,0.00,0,0.00,0,0,0,0