In [57]:
import pandas as pd

In [58]:
bucket = 'capstoneprojectoath'
data_key =  'NYPD_Only.csv'
data_location = 's3://{}/{}'.format(bucket, data_key)

In [59]:
df = pd.read_csv(data_location, low_memory=False, error_bad_lines = False)
df

,Ticket Number,Violation Date,Violation Time,Issuing Agency,Respondent First Name,Respondent Last Name,Balance Due,Violation Location (Borough),Violation Location (Block No.),Violation Location (Lot No.),...,Charge #8: Code Description,Charge #8: Infraction Amount,Charge #9: Code,Charge #9: Code Section,Charge #9: Code Description,Charge #9: Infraction Amount,Charge #10: Code,Charge #10: Code Section,Charge #10: Code Description,Charge #10: Infraction Amount
0,0198948842,02/13/2020,03:15:00,POLICE DEPARTMENT,JUAN,FLORES,112.0,QUEENS,1769.0,55.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,0198984253,02/12/2020,22:45:00,POLICE DEPARTMENT,ERIC A,NICASIO,112.0,QUEENS,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,0199274121,02/10/2020,23:15:00,POLICE DEPARTMENT,ELIAS,SULUSA,25.0,QUEENS,1482.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,0199009773,02/11/2020,19:33:00,POLICE DEPARTMENT,YOON S,CHO,0.0,QUEENS,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0199417525,12/30/2019,17:25:00,POLICE DEPARTMENT,STAVROULA,KOKKOROS,0.0,QUEENS,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
766389,0139929635,02/03/2004,08:30:00,SEAGATE POLICE,NaN,NaN,NaN,BROOKLYN,7028.0,23.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766390,0139929754,02/11/2004,08:00:00,SEAGATE POLICE,NaN,NaN,NaN,BROOKLYN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766391,0139929781,02/20/2004,07:15:00,POLICE DEPARTMENT,NaN,NaN,NaN,BROOKLYN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766392,0180262538,01/04/2012,17:20:00,NYPD TRANSPORT INTELLIGENCE DI,NaN,EMPIRE CITY SUBWAY,0.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
766393,0182675305,05/24/2014,13:08:00,POLICE DEPARTMENT,JORGE,CHRIVO JULIAN,0.0,MANHATTAN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df.shape

(766394, 78)

In [61]:
df.columns

Index(['Ticket Number', 'Violation Date', 'Violation Time', 'Issuing Agency',
       'Respondent First Name', 'Respondent Last Name', 'Balance Due',
       'Violation Location (Borough)', 'Violation Location (Block No.)',
       'Violation Location (Lot No.)', 'Violation Location (House #)',
       'Violation Location (Street Name)', 'Violation Location (Floor)',
       'Violation Location (City)', 'Violation Location (Zip Code)',
       'Violation Location (State Name)', 'Respondent Address (Borough)',
       'Respondent Address (House #)', 'Respondent Address (Street Name)',
       'Respondent Address (City)', 'Respondent Address (Zip Code)',
       'Respondent Address (State Name)', 'Hearing Status', 'Hearing Result',
       'Scheduled Hearing Location', 'Hearing Date', 'Hearing Time',
       'Decision Location (Borough)', 'Decision Date',
       'Total Violation Amount', 'Violation Details', 'Date Judgment Docketed',
       'Respondent Address or Facility Number(For FDNY and DOB Tickets)',
       'Penalty Imposed', 'Paid Amount', 'Additional Penalties or Late Fees',
       'Compliance Status', 'Violation Description', 'Charge #1: Code',
       'Charge #1: Code Section', 'Charge #1: Code Description',
       'Charge #1: Infraction Amount', 'Charge #2: Code',
       'Charge #2: Code Section', 'Charge #2: Code Description',
       'Charge #2: Infraction Amount', 'Charge #3: Code',
       'Charge #3: Code Section', 'Charge #3: Code Description',
       'Charge #3: Infraction Amount', 'Charge #4: Code',
       'Charge #4: Code Section', 'Charge #4: Code Description',
       'Charge #4: Infraction Amount', 'Charge #5: Code',
       'Charge #5: Code Section', 'Charge #5: Code Description',
       'Charge #5: Infraction Amount', 'Charge #6: Code',
       'Charge #6: Code Section', 'Charge #6: Code Description',
       'Charge #6: Infraction Amount', 'Charge #7: Code',
       'Charge #7: Code Section', 'Charge #7: Code Description',
       'Charge #7: Infraction Amount', 'Charge #8: Code',
       'Charge #8: Code Section', 'Charge #8: Code Description',
       'Charge #8: Infraction Amount', 'Charge #9: Code',
       'Charge #9: Code Section', 'Charge #9: Code Description',
       'Charge #9: Infraction Amount', 'Charge #10: Code',
       'Charge #10: Code Section', 'Charge #10: Code Description',
       'Charge #10: Infraction Amount'],
      dtype='object')

In [62]:
columns_to_drop = ['Violation Time',
       'Balance Due',
       'Hearing Status', 
       'Scheduled Hearing Location', 'Hearing Date', 'Hearing Time',
       'Decision Location (Borough)', 'Decision Date',
       'Date Judgment Docketed',
       'Respondent Address or Facility Number(For FDNY and DOB Tickets)',
       'Additional Penalties or Late Fees',
       'Compliance Status', 'Violation Description', 'Charge #1: Code',
       'Charge #1: Code Section', 'Charge #1: Code Description',
       'Charge #1: Infraction Amount', 'Charge #2: Code',
       'Charge #2: Code Section', 'Charge #2: Code Description',
       'Charge #2: Infraction Amount', 'Charge #3: Code',
       'Charge #3: Code Section', 'Charge #3: Code Description',
       'Charge #3: Infraction Amount', 'Charge #4: Code',
       'Charge #4: Code Section', 'Charge #4: Code Description',
       'Charge #4: Infraction Amount', 'Charge #5: Code',
       'Charge #5: Code Section', 'Charge #5: Code Description',
       'Charge #5: Infraction Amount', 'Charge #6: Code',
       'Charge #6: Code Section', 'Charge #6: Code Description',
       'Charge #6: Infraction Amount', 'Charge #7: Code',
       'Charge #7: Code Section', 'Charge #7: Code Description',
       'Charge #7: Infraction Amount', 'Charge #8: Code',
       'Charge #8: Code Section', 'Charge #8: Code Description',
       'Charge #8: Infraction Amount', 'Charge #9: Code',
       'Charge #9: Code Section', 'Charge #9: Code Description',
       'Charge #9: Infraction Amount', 'Charge #10: Code',
       'Charge #10: Code Section', 'Charge #10: Code Description',
       'Charge #10: Infraction Amount']

In [63]:
df.drop(columns_to_drop, axis = 1, inplace=True)

In [64]:
df

,Ticket Number,Violation Date,Issuing Agency,Respondent First Name,Respondent Last Name,Violation Location (Borough),Violation Location (Block No.),Violation Location (Lot No.),Violation Location (House #),Violation Location (Street Name),...,Respondent Address (House #),Respondent Address (Street Name),Respondent Address (City),Respondent Address (Zip Code),Respondent Address (State Name),Hearing Result,Total Violation Amount,Violation Details,Penalty Imposed,Paid Amount
0,0198948842,02/13/2020,POLICE DEPARTMENT,JUAN,FLORES,QUEENS,1769.0,55.0,103-19,39 AVENUE,...,35-30,91 ST,NaN,NaN,NaN,DEFAULTED,75.0,20200401N,112.0,0.0
1,0198984253,02/12/2020,POLICE DEPARTMENT,ERIC A,NICASIO,QUEENS,NaN,NaN,NaN,CORONA AVE JUNCTION BLVD,...,237,111 ST,NaN,NaN,NaN,DEFAULTED,75.0,20200401N,112.0,0.0
2,0199274121,02/10/2020,POLICE DEPARTMENT,ELIAS,SULUSA,QUEENS,1482.0,11.0,94-18,37 AVENUE,...,34-36,90 ST,NaN,NaN,NaN,DEFAULTED,25.0,20200327N,25.0,0.0
3,0199009773,02/11/2020,POLICE DEPARTMENT,YOON S,CHO,QUEENS,NaN,NaN,NaN,C O NORTHERN BLVD FRANCIS LE,...,58-60,207 STREET,OAKLAND GARDENS,11364,NEW YORK,NaN,250.0,20200330N,250.0,250.0
4,0199417525,12/30/2019,POLICE DEPARTMENT,STAVROULA,KOKKOROS,QUEENS,NaN,NaN,NaN,151 AVENUE 84 STREET,...,163-23,87 STREET,HOWARD BEACH,11414,NEW YORK,DISMISSED,250.0,20200214N,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
766389,0139929635,02/03/2004,SEAGATE POLICE,NaN,NaN,BROOKLYN,7028.0,23.0,4024,SURF AVENUE,...,4024,SURF AVENUE,BROOKLYN,11224,NEW YORK,WRITTEN OFF,100.0,20040304N,350.0,NaN
766390,0139929754,02/11/2004,SEAGATE POLICE,NaN,NaN,BROOKLYN,NaN,NaN,3901,SIDE 3901 LYME AVE,...,3901,LYME AVENUE,BROOKLYN,11224,NEW YORK,WRITTEN OFF,100.0,20040312N,300.0,NaN
766391,0139929781,02/20/2004,POLICE DEPARTMENT,NaN,NaN,BROOKLYN,NaN,NaN,4118,MANHATTAN AV,...,4018,MANHATTAN AVENUE,BROOKLYN,11224,NEW YORK,WRITTEN OFF,100.0,20040324N,300.0,NaN
766392,0180262538,01/04/2012,NYPD TRANSPORT INTELLIGENCE DI,NaN,EMPIRE CITY SUBWAY,MANHATTAN,NaN,NaN,NaN,E 92 ST BET MADISON AVE 5 AV,...,50,VARICK STREET,NEW YORK,10013,NEW YORK,NaN,1800.0,20120717N,1800.0,1800.0
766393,0182675305,05/24/2014,POLICE DEPARTMENT,JORGE,CHRIVO JULIAN,MANHATTAN,NaN,NaN,3804,BROADWAY,...,601,WEST 187 STREET,NEW YORK,10033,NEW YORK,IN VIOLATION,1000.0,20140625,25.0,25.0

In [65]:
df["Violation Date"]

0         02/13/2020
1         02/12/2020
2         02/10/2020
3         02/11/2020
4         12/30/2019
             ...
766389    02/03/2004
766390    02/11/2004
766391    02/20/2004
766392    01/04/2012
766393    05/24/2014
Name: Violation Date, Length: 766394, dtype: object

In [70]:
df["Violation Date"] = pd.to_datetime(df["Violation Date"])

In [71]:
df["Violation Date"].min()

Timestamp('1900-01-01 00:00:00')

In [72]:
df["Violation Date"].max()

Timestamp('2021-11-12 00:00:00')

In [73]:
df["Violation Date"].value_counts()

2001-06-10    372
2002-03-16    308
2010-02-14    308
1900-01-01    305
2001-12-31    300
             ...
1988-08-04      1
1989-10-09      1
1995-04-13      1
1998-04-25      1
1997-09-06      1
Name: Violation Date, Length: 9146, dtype: int64

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 766394 entries, 0 to 766393
Data columns (total 25 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   Ticket Number                     766394 non-null  object
 1   Violation Date                    763596 non-null  datetime64[ns]
 2   Issuing Agency                    766394 non-null  object
 3   Respondent First Name             498874 non-null  object
 4   Respondent Last Name              762112 non-null  object
 5   Violation Location (Borough)      765579 non-null  object
 6   Violation Location (Block No.)    377615 non-null  float64
 7   Violation Location (Lot No.)      377629 non-null  float64
 8   Violation Location (House #)      457559 non-null  object
 9   Violation Location (Street Name)  753845 non-null  object
 10  Violation Location (Floor)        0 non-null       float64
 11  Violation Location (City)         723377 non-null  object
 12  Violation Location (Zip Code)     414736 non-null  object
 13  Violation Location (State Name)   752034 non-null  object
 14  Respondent Address (Borough)      753927 non-null  object
 15  Respondent Address (House #)      750456 non-null  object
 16  Respondent Address (Street Name)  760184 non-null  object
 17  Respondent Address (City)         747993 non-null  object
 18  Respondent Address (Zip Code)     717269 non-null  object
 19  Respondent Address (State Name)   746124 non-null  object
 20  Hearing Result                    611757 non-null  object
 21  Total Violation Amount            764943 non-null  float64
 22  Violation Details                 719924 non-null  object
 23  Penalty Imposed                   695603 non-null  float64
 24  Paid Amount                       485961 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(18)
memory usage: 146.2+ MB

In [75]:
df.dropna(subset=["Hearing Result"], inplace=True)

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11062 entries, 32 to 766384
Data columns (total 25 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Ticket Number                     11062 non-null  object
 1   Violation Date                    11060 non-null  datetime64[ns]
 2   Issuing Agency                    11062 non-null  object
 3   Respondent First Name             4932 non-null   object
 4   Respondent Last Name              11062 non-null  object
 5   Violation Location (Borough)      11062 non-null  object
 6   Violation Location (Block No.)    7791 non-null   float64
 7   Violation Location (Lot No.)      7791 non-null   float64
 8   Violation Location (House #)      8827 non-null   object
 9   Violation Location (Street Name)  11052 non-null  object
 10  Violation Location (Floor)        0 non-null      float64
 11  Violation Location (City)         10644 non-null  object
 12  Violation Location (Zip Code)     8111 non-null   object
 13  Violation Location (State Name)   10887 non-null  object
 14  Respondent Address (Borough)      11062 non-null  object
 15  Respondent Address (House #)      11047 non-null  object
 16  Respondent Address (Street Name)  11056 non-null  object
 17  Respondent Address (City)         11024 non-null  object
 18  Respondent Address (Zip Code)     10950 non-null  object
 19  Respondent Address (State Name)   11023 non-null  object
 20  Hearing Result                    11062 non-null  object
 21  Total Violation Amount            11062 non-null  float64
 22  Violation Details                 11060 non-null  object
 23  Penalty Imposed                   11062 non-null  float64
 24  Paid Amount                       10940 non-null  float64
dtypes: datetime64[ns](1), float64(6), object(18)
memory usage: 2.2+ MB

In [76]:
df["Hearing Result"].value_counts()

WRITTEN OFF     263475
DEFAULTED       120361
DISMISSED       109692
IN VIOLATION     85387
DEFAULT          21334
SETTL IN-VIO     10815
ADJOURNED          411
POP IN-VIOL        123
POP/IN-VIOL        117
NONE                24
STIPULATED          11
COSRV INVIO          7
Name: Hearing Result, dtype: int64

In [77]:
df.shape

(611757, 25)

In [78]:
df["Violation Date"].min()

Timestamp('1954-09-05 00:00:00')

In [79]:
df = df.loc[(df["Hearing Result"] != "NONE") & (df["Hearing Result"] != "ADJOURNED") & (df["Hearing Result"] != "STIPULATED")]

In [80]:
df.shape

(611311, 25)

In [81]:
df["Hearing Result"].value_counts()

WRITTEN OFF     263475
DEFAULTED       120361
DISMISSED       109692
IN VIOLATION     85387
DEFAULT          21334
SETTL IN-VIO     10815
POP IN-VIOL        123
POP/IN-VIOL        117
COSRV INVIO          7
Name: Hearing Result, dtype: int64

In [82]:
df["Hearing Result"].replace({"POP IN-VIOL": "IN VIOLATION", 
                              "POP/IN-VIOL": "IN VIOLATION", 
                              "SETTL IN-VIO": "IN VIOLATION",
                              "COSRV INVIO": "IN VIOLATION",
                              "DEFAULT": "DEFAULTED"}, inplace=True)

/home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages/pandas/core/series.py:4582: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [85]:
df["Hearing Result"].value_counts(normalize=True)

WRITTEN OFF     0.431000
DEFAULTED       0.231789
DISMISSED       0.179437
IN VIOLATION    0.157774
Name: Hearing Result, dtype: float64